#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items span.picklist_open {
    color: #ea8d11;
    font-weight: bold;
}

#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items span.picklist_shipped {
    color: #2dad62;
    font-weight: bold;
}

td.picklist.column-picklist div{
    text-align: center;
    min-height: 2em;
    line-height: 2em;
    margin: 2px 0;
    border-radius: 2em;
    float: left;
    padding: 0 2em;
    opacity: .9;
}

td.picklist.column-picklist .open{
    border: 2px solid #555;
    color: #555;
}

td.picklist.column-picklist .done {
    border: 2px solid #2dad62;
    color: #2dad62;
}


td.picklist.column-picklist .waiting {
    border: 2px solid #ea8d11;
    color: #ea8d11;

}
